<div class="mdc-touch-target-wrapper {{#if block}}full-width{{/if}}">
  <button class="mdc-button {{#if buttonType}}mdc-button--{{buttonType}}{{/if}} {{#if block}}full-width{{/if}}" {{#if type}}type="{{ type }}"{{/if}}>
    <span class="mdc-button__ripple"></span>
    <span class="mdc-button__touch"></span>
    <span class="mdc-button__label">{{ text }}</span>
  </button>
</div>